---
target: ipq40xx/mikrotik
brand_nice: MikroTik
model_nice: wAP AC
version_nice: Rev 2 (2022-)

openwrt_version: 23.05-SNAPSHOT

model__packages__to_merge:
  - "-kmod-ath10k-ct -ath10k-firmware-qca4019-ct -kmod-ath10k-ct-smallbuffers"
  - "kmod-ath10k ath10k-firmware-qca4019"

dsa_ports:
  - sw-eth1
  - sw-eth2

wireless_devices:
  - name: 11a_standard
    band: 5g
    htmode_prefix: VHT
    path: platform/soc/a800000.wifi
    ifname_hint: wlan5
  - name: 11g_standard
    band: 2g
    htmode_prefix: HT
    path: platform/soc/a000000.wifi
    ifname_hint: wlan2
