---
override_target: "mikrotik_routerboard-lhg-2nd"
target: ath79/mikrotik

int_port: eth0

wireless_devices:
  - name: 11g_standard
    hwmode: 11g
    path: platform/ahb/18100000.wmac
    ifname_hint: wlan2
    antenna_gain: 6
