---
target: ramips/mt7621
brand_nice: NETGEAR
model_nice: WAX202

openwrt_version: 23.05-SNAPSHOT

dsa_ports:
  - wan
  - lan1
  - lan2
  - lan3

# Mac address can be read with the following command:
# cat /dev/mtdblock$(grep -w 'Config' /proc/mtd | sed -n 's/^mtd\([0-9]\+\):.*/\1/p') | grep -o 'mac=[^ ]*' | cut -d= -f2
requires_mac_override: true

wireless_devices:
  - name: 11a_standard
    band: 5g
    htmode_prefix: HE
    path: 1e140000.pcie/pci0000:00/0000:00:01.0/0000:02:00.0+1
    ifname_hint: wlan5
  - name: 11g_standard
    band: 2g
    htmode_prefix: HE
    path: 1e140000.pcie/pci0000:00/0000:00:01.0/0000:02:00.0
    ifname_hint: wlan2
