---
imagebuilder: "https://downloads.openwrt.org/releases/21.02-SNAPSHOT/targets/ipq40xx/mikrotik/openwrt-imagebuilder-21.02-SNAPSHOT-ipq40xx-mikrotik.Linux-x86_64.tar.xz"
feed_version: "1.2.0-snapshot"
imagebuilder_disable_signature_check: true
instr_set: "arm_cortex-a7_neon-vfpv4"

model__packages__to_merge:
  - "-kmod-ath10k-ct -ath10k-firmware-qca4019-ct"
  - "kmod-ath10k ath10k-firmware-qca4019"
  - "irqbalance"

# Somehow this doesnt work properly anymore
#switch_disable_vlan: true

switch_ports: 6
switch_int_port: 0
switch_ignore_ports: [1,2,3,4]

int_port: eth0

wireless_devices:
  - name: 11a_standard
    hwmode: 11a
    path: platform/soc/a800000.wifi
    ifname_hint: wlan5
