---
target: ipq40xx/generic
brand_nice: GL.iNet
model_nice: GL-B1300

openwrt_version: 23.05-SNAPSHOT

model__packages__to_merge:
  - "-kmod-ath10k-ct -ath10k-firmware-qca4019-ct"
  - "kmod-ath10k ath10k-firmware-qca4019"

switch_ports: 6
switch_int_port: 0
switch_ignore_ports: [1, 2, 5]
# WAN port 5 is hardwired to VLAN2. ignore

int_port: eth0

wireless_devices:
  - name: 11a_standard
    band: 5g
    htmode_prefix: VHT
    path: platform/soc/a800000.wifi
    ifname_hint: wlan5
  - name: 11g_standard
    band: 2g
    htmode_prefix: HT
    path: platform/soc/a000000.wifi
    ifname_hint: wlan2
