---
target: "ath79/generic"
os: openwrt
brand_nice: Ubiquiti
model_nice: Swiss Army Knife Ultra

dsa_ports:
  - eth0

wireless_devices:
  - name: 11a_standard
    band: 5g
    htmode_prefix: VHT
    path: pci0000:00/0000:00:00.0
    ifname_hint: wlan5
  - name: 11g_standard
    band: 2g
    htmode_prefix: HT
    path: platform/ahb/18100000.wmac
    ifname_hint: wlan2
