---
target: ramips/mt7621
os: openwrt
brand_nice: Cudy
model_nice: X6
version_nice: v1

dsa_ports:
  - lan1
  - lan2
  - lan3
  - lan4
  - wan

wireless_devices:
  - name: 11a_standard
    band: 5g
    htmode_prefix: HE
    path: 1e140000.pcie/pci0000:00/0000:00:01.0/0000:02:00.0+1
    ifname_hint: wlan5
  - name: 11g_standard
    band: 2g
    htmode_prefix: HE
    path: 1e140000.pcie/pci0000:00/0000:00:01.0/0000:02:00.0
    ifname_hint: wlan2
