---

# Factory flash instructions:
# https://github.com/openwrt/openwrt/commit/a9839697896c4fdf8c44a06bbce466ce52493069
#
# OpenWrt vs. vendor firmware:
# - enables both CPU cores, vendor only the first
# - one 14720k partition, vendor two 7360k partitions

target: ramips/mt7621
brand_nice: Ubiquiti
model_nice: USW-Flex

openwrt_version: 24.10-SNAPSHOT

dsa_ports:
  - lan1
  - lan2
  - lan3
  - lan4
  - lan5

model__packages__to_merge:
  - poemgr

poemgr_ports:
  - name: lan2
    port: 3
    disabled: 0
  - name: lan3
    port: 2
    disabled: 0
  - name: lan4
    port: 1
    disabled: 0
  - name: lan5
    port: 0
    disabled: 0
