#jinja2: trim_blocks: "true", lstrip_blocks: "true"
config defaults
	option syn_flood	1
	option input		ACCEPT
	option output		ACCEPT
	option forward		REJECT

config zone
	option name		freifunk
{% for interface in mesh_links|default([]) %}
	list   network		'{{ interface['name'] }}'
{% endfor %}
{% if mgmt is defined %}
	list   network		'mgmt'
{% endif %}
{% if sgw is defined and sgw %}
	list   device		'tunl0'
{% endif %}
	list   device		'wg_+'
	list   device		'gre+'
	option input		ACCEPT
	option output		ACCEPT
	option forward		REJECT
#	option mtu_fix          1 # mss is clamped manually in /etc/firewall.user

config zone
	option name		uplink
	list   network		'uplink'
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT
{% if mesh_links is defined and mesh_links|length > 0 %}
        option masq		1
{% endif %}

config forwarding
	option src		freifunk
	option dest		uplink

config forwarding
	option src		freifunk
	option dest		freifunk

{% if 'ipv6' in uplink %}
config rule
	option name             "Allow BGP"
	option src		uplink
	option src_ip		'{{ uplink['ipv6'] | ansible.utils.ipaddr('peer')  }}'
	option proto		tcp
	option dest_port        179
	option target		ACCEPT
{% endif %}

config rule
	option name             "Allow conntrack sync"
	option src		uplink
{% for host in groups['role_uplink_gateway'] if host != inventory_hostname %}
	list src_ip		'{{ hostvars[host]['uplink']['ipv4'] | ansible.utils.ipaddr('address')  }}'
{% endfor %}
	option proto		udp
	option dest_port        {{ conntrackd_port }}
	option target		ACCEPT

config rule
	option name             "Allow SSH"
	option src		uplink
	option proto		tcp
	option dest_port        22
	option target		ACCEPT

config rule
	option name             "Allow HTTPS"
	option src		uplink
	option proto		tcp
	option dest_port        443
	option target		ACCEPT

config rule
	option name             "Allow GRE"
	option src		uplink
	option proto		gre
	option target		ACCEPT

config rule
	option name             "Allow Wireguard"
	option src		uplink
	option proto		udp
	option dest_port	'{{ wireguard_port_start }}':'{{ wireguard_port_end }}'
	option target		ACCEPT

# Allow essential incoming IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Input
	option src		uplink
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	list icmp_type		router-solicitation
	list icmp_type		neighbour-solicitation
	list icmp_type		router-advertisement
	list icmp_type		neighbour-advertisement
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Forward
	option src		uplink
	option dest		*
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Allow list via group_vars/role_uplink_gateway/general.yml
{% for rule in inbound_allow | default([]) %}
config rule
	option name		'{{ rule['name'] }}'
	option src		uplink
	option dest		freifunk
  {% if 'dst' in rule %}
	option dest_ip		'{{ rule['dst'] }}'
  {% endif %}
  {% if 'src' in rule %}
	option src_ip		'{{ rule['src'] }}'
  {% endif %}
  {% if 'proto' in rule %}
	option proto		'{{ rule['proto'] }}'
  {% endif %}
  {% if 'src_port' in rule %}
	option src_port		'{{ rule['src_port'] }}'
  {% endif %}
  {% if 'dst_port' in rule %}
	option dest_port	'{{ rule['dst_port'] }}'
  {% endif %}
	option target		ACCEPT
{% endfor %}

config include
	option	path		'/etc/firewall.user'
