config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'
	option dns '{{ dns_servers | join(' ') }}'

config interface 'uplink'
	option ifname '{{ uplink['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ uplink['ipv4'] }}'
	option gateway '{{ uplink['ipv4'] | ipaddr('peer') }}'
	option ip6addr '{{ uplink['ipv6'] }}'


{% for interface in mesh_links|default([]) %}
config interface '{{ interface['name'] }}'
	option ifname '{{ interface['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ interface['ipv4'] }}'
	option ip6addr '{{ interface['ipv6'] }}'
{% endfor %}

{% if mgmt is defined %}
config interface 'mgmt'
	option ifname '{{ mgmt['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ mgmt['ipv4'] }}'
	option ip6addr '{{ mgmt['ipv6'] }}'
{% endif %}


# gre doesnt support _ in name
{% for gateway in groups['role_uplink_gateway'] | difference([inventory_hostname]) %}
{% set name = hostvars[gateway]['location'] %}
config interface '{{ name }}'
	option proto 'gre'
	option ipaddr '{{ uplink['ipv4'] | ipaddr('address') }}'
	option peeraddr '{{ hostvars[gateway]['uplink']['ipv4'] | ipaddr('address') }}'

config interface '{{ name }}_ip'
	option proto 'static'
	option ifname '@{{ name }}'
	option ip6addr '{{ gre_base_prefix | nthhost(loop.index) }}/128'

{% endfor %}
