config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'
	option dns '{{ dns_servers | join(' ') }}'
{% if ipv6_prefix is defined %}
	option ip6addr '{{ ipv6_prefix }}'
{% endif %}

config interface 'uplink'
	option device '{{ uplink['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ uplink['ipv4'] }}'
{% if uplink['ipv4'] | ipaddr('prefix') >= 30 %}
	option gateway '{{ uplink['ipv4'] | ipaddr('peer') }}'
{% else %}
	option gateway '{{ uplink['ipv4'] | ipaddr('1') | ipaddr('address') }}'
{% endif %}
{% if 'ipv6' in uplink %}
	option ip6addr '{{ uplink['ipv6'] }}'
{% endif %}

{% for interface in mesh_links|default([]) %}
config interface '{{ interface['name'] }}'
	option device '{{ interface['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ interface['ipv4'] }}'
	option ip6addr '{{ interface['ipv6'] }}'
{% endfor %}

{% if mgmt is defined %}
config interface 'mgmt'
	option device '{{ mgmt['ifname'] }}'
	option proto 'static'
	option ipaddr '{{ mgmt['ipv4'] }}'
	option ip6addr '{{ mgmt['ipv6'] }}'
{% endif %}


# gre doesnt support _ in name
{% for gateway in groups['role_uplink_gateway'] | difference([inventory_hostname]) %}
{% set name = hostvars[gateway]['gre_tunnel_alias'] %}
config interface '{{ name }}'
	option proto 'gre'
	option ipaddr '{{ uplink['ipv4'] | ipaddr('address') }}'
	option peeraddr '{{ hostvars[gateway]['uplink']['ipv4'] | ipaddr('address') }}'
	option mtu '1476'

config interface '{{ name }}_ip'
	option proto 'static'
	option device '@{{ name }}'
	option ip6addr '{{ gre_base_prefix | nthhost(loop.index) }}/128'

{% endfor %}
