#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% if mesh_links is defined and mesh_links|length>0 %}
config LoadPlugin
	option library 'olsrd_arprefresh'

config LoadPlugin
	option library 'olsrd_nameservice'
	option suffix '.olsr'
	option hosts_file '/tmp/hosts/olsr'
	option latlon_file '/var/run/latlon.js'
	option services_file '/var/etc/services.olsr'

config LoadPlugin
	option accept '0.0.0.0'
	option library 'olsrd_jsoninfo'
	option ignore '0'

config LoadPlugin
	option accept '0.0.0.0'
	option library 'olsrd_txtinfo'
	option port '2006'

config LoadPlugin
	option library 'olsrd_dyn_gw'
	list Ping '46.182.19.48'
	list Ping '80.67.169.40'
	list Ping '194.150.168.168'
	option ignore '0'
	option PingCmd 'ping -c 1 -q -I {{ uplink['ifname'] }} %s'
	option PingInterval '30'

config olsrd
	option IpVersion '4'
	option FIBMetric 'flat'
	option AllowNoInt 'yes'
	option TcRedundancy '2'
	option NatThreshold '0.75'
	option LinkQualityAlgorithm 'etx_ff'
	option Pollrate '0.025'
	option LinkQualityLevel '2'
	option OlsrPort '698'
	option Willingness '3'
	option TosValue '16'
  {% if sgw is defined and sgw %}
	option SmartGateway 'yes'
	option SmartGatewayUplink 'both'
	option SmartGatewaySpeed '{{ sgw }}'
  {% endif %}

config InterfaceDefaults
	option MidValidityTime '500.0'
	option TcInterval '2.0'
	option HnaValidityTime '125.0'
	option HelloValidityTime '125.0'
	option TcValidityTime '500.0'
	option Ip4Broadcast '255.255.255.255'
	option MidInterval '25.0'
	option HelloInterval '3.0'
	option HnaInterval '10.0'

  {% for interface in mesh_links %}
config Interface
	option ignore '0'
	option interface '{{ interface['name'] }}'
	option Mode '{{ 'ether' if interface.get('ptp') else 'mesh' }}'
  {% endfor %}

  {% if mgmt is defined %}
config Hna4
	option netmask '{{ mgmt['ipv4'] | ipaddr('netmask') }}'
	option netaddr '{{ mgmt['ipv4'] | ipaddr('network') }}'
  {% endif %}
{% endif %}
