config server
    option port_start '{{ wireguard['port_start'] }}'
    option port_end '{{ wireguard['port_end'] }}'
    option base_prefix '{{ wireguard['base_prefix'] }}'
    option wg_key '{{ wireguard['wg_key'] }}'
    option wg_pub '{{ wireguard['wg_pub'] }}'
