---

- name: "Omit irqbalance unless multicore"
  set_fact:
    multicore__packages__to_merge: []
  when:
    - not (multicore | default(false))

- name: "Omit airos-dfs-reset unless configured"
  set_fact:
    dfs__packages__to_merge: []
  when:
    - not (airos_dfs_reset | default([]) | count > 1)

- name: "Omit DAWN unless configured"
  set_fact:
    dawn__packages__to_merge: []
  when:
    - not (wifi_roaming | default(false))

- name: "Omit tunspace unless configured"
  set_fact:
    tunnel__packages__to_merge: []
  when:
    - networks is not defined or networks | selectattr('role','equalto','tunnel') | count == 0

- name: "Omit zram-swap unless low mem and big flash"
  set_fact:
    zram__packages__to_merge: []
  when:
    # CONFIG_KERNEL_SWAP is disabled on many low_flash devices (citation needed)
    - not (low_mem | default(false) and not (low_flash | default(false)))

- name: "Omit corerouter utilities if low mem or low flash"
  set_fact:
    util__packages__to_merge: []
  when:
    - low_mem | default(false) or low_flash | default(false)

- name: "Omit notlow packages if low mem or low flash"
  set_fact:
    notlow__packages__to_merge: []
  when: low_mem | default(false) or low_flash | default(false)

- name: "Omit low packages unless low mem or low flash"
  set_fact:
    low__packages__to_merge: []
  when: not (low_mem | default(false) or low_flash | default(false))

- name: "Omit LuCI if low mem or low flash unless corerouter"
  set_fact:
    all_luci_base__packages__to_merge: []
  when: (low_mem | default(false) or low_flash | default(false)) and role != "corerouter"

- name: "Skip disabling uhttpd unless low mem"
  set_fact:
    low__disabled_services__to_merge: []
  when: not (low_mem | default(false))

- name: "Omit ip-bridge unless DSA target"
  set_fact:
    dsa__packages__to_merge: []
  when:
    - not (dsa_ports is defined)
