---
- name: Set permission for dropbear directory
  file:
    path: "{{ config_path }}/etc/dropbear/"
    mode: "700"

- name: Set permission for authorized_keys
  file:
    path: "{{ config_path }}/etc/dropbear/authorized_keys"
    mode: "600"

- name: Set permission for replace_secrets script
  file:
    path: "{{ config_path }}/etc/init.d/replace_secrets"
    mode: "755"
  ignore_errors: true
  when: role != "uplink_gateway"

- name: Set permission for symlink_mesh_routings script
  file:
    path: "{{ config_path }}/etc/init.d/symlink_mesh_routings"
    mode: "755"
  ignore_errors: true
  when: role == "uplink_gateway"

- name: Set permission for wgconnect script
  file:
    path: "{{ config_path }}/etc/init.d/wgconnect"
    mode: "755"
  ignore_errors: true
  when: role == "corerouter"
