---
- name: Create images dir
  file:
    state: directory
    path: "{{ images_dir }}"
    mode: "755"
  run_once: true
- name: Clear old image and logfile
  file:
    state: absent
    path: "{{ item }}"
  loop:
    - "{{ images_dir }}/{{ inventory_hostname }}.bin"
    - "{{ images_dir }}/{{ inventory_hostname }}.img"
    - "{{ images_dir }}/{{ inventory_hostname }}.itb"
    - "{{ images_dir }}/{{ inventory_hostname }}.log"

- name: Create Download directory
  file:
    path: "{{ dl_dir }}"
    state: directory
    mode: "755"
  run_once: true

- name: Set destination path for imagebuilder
  set_fact:
    imagebuilder_path: "{{ dl_dir }}/{{ imagebuilder | basename }}"

- name: Download Imagebuilder if upstream is newer
  get_url:
    url: "{{ imagebuilder }}"
    dest: "{{ dl_dir }}/{{ imagebuilder_filename }}"
    mode: "644"
  when: '"http" in imagebuilder'

# For testing purposes the imagebuilder variable can be replaced with a path to a local file.
# This task takes care of using this file instead of trying to download something
- name: Copy Local Imagebuilder
  command:
    argv:
      - "cp"
      - "{{ imagebuilder }}"
      - "{{ dl_dir }}"
  when: '"http" not in imagebuilder'
  changed_when: true

- name: Clear workdir
  file:
    state: absent
    path: "{{ build_dir }}"

- name: (Re)-Create workdir
  file:
    state: directory
    path: "{{ build_dir }}"
    mode: "755"

- name: Extract imagebuilder
  unarchive:
    src: "{{ imagebuilder_path }}"
    dest: "{{ build_dir }}"
    extra_opts: ['--strip=1']

- name: Read instruction set
  shell:
    chdir: "{{ build_dir }}"
    cmd: grep -oP 'CONFIG_TARGET_ARCH_PACKAGES="\K[^"]+' .config
  register: instr_set_result
  when: 'instr_set is not defined and feed_version is defined'
  changed_when: false

- name: Extract Instruction set if needed
  set_fact:
    instr_set: "{{ instr_set_result.stdout_lines | first }}"
  when: 'instr_set is not defined and feed_version is defined'

- name: Insert falter feed
  lineinfile:
    path: "{{ build_dir }}/repositories.conf"
    line: "{{ feed }}"
  when: 'feed_version is defined'

- name: Add falter feed key
  copy:
    src: "files/packagefeed_master.pub"
    dest: "{{ build_dir }}/keys/61a078a38408e710"  # matches fingerprint
    mode: "preserve"
  when: 'feed_version is defined'

- name: Disable Signature verification if required
  lineinfile:
    path: "{{ build_dir }}/repositories.conf"
    line: "option check_signature"
    state: "absent"
  when: 'imagebuilder_disable_signature_check is defined and imagebuilder_disable_signature_check'

- name: Override compat_version check to bbb-configs exclusive value 9.9
  lineinfile:
    path: "{{ build_dir }}/include/image-commands.mk"
    search_string: "compat_version=$(if $(DEVICE_COMPAT_VERSION),$(DEVICE_COMPAT_VERSION),1.0)"
    line: "compat_version=9.9"

- name: Run Imagebuilder
  changed_when: false
  command:
    chdir: "{{ build_dir }}"
    argv:
      - "bash"
      - "-c"
      - "make image PROFILE='{{ override_target | default(model) }}' PACKAGES='{{ packages | join(' ') }}' DISABLED_SERVICES='{{ disabled_services | join(' ') }}' FILES='{{ configs_dir }}' 1>&2"
  register: output

- name: Write build log to output dir
  copy:
    content: "{{ output.stderr }}"
    dest: "{{ images_dir }}/{{ inventory_hostname }}.log"
    mode: "preserve"

- name: Find output image
  find:
    paths: "{{ build_dir }}/bin/"
    patterns: "{{ image_search_pattern }}"
    recurse: true
  register: image_list

- name: Check Imagebuilder result
  assert:
    that: image_list.files | length > 0
    fail_msg: 'No image was built, check log at {{ images_dir }}/{{ inventory_hostname }}.log'

- name: Declare source
  set_fact:
    image_src: "{{ image_list.files | map(attribute='path') | list | first }}"

- name: Declare target
  set_fact:
    image: "{{ images_dir }}/{{ inventory_hostname }}{{ image_src | splitext | last }}"

- name: Copy Image to Image dir
  copy:
    src: "{{ image_src }}"
    dest: "{{ image }}"
    mode: "preserve"
