---

- name: Merge vars
  ansible.builtin.set_fact:
    "{{ item.key }}": "{{ lookup('community.general.merge_variables', '__' + item.key + '__to_merge', pattern_type='suffix', initial_value=item.value) }}"
  loop: "{{ the_vars | dict2items }}"
  vars:
    the_vars:
      packages: []
      disabled_services: []
      wireless_profiles: []
      sysctl: {}
      rclocal: []
      channel_assignments_11a_standard: {}
      channel_assignments_11g_standard: {}

- name: Merge ssh_keys
  ansible.builtin.set_fact:
    "ssh_keys": "{{ lookup('community.general.merge_variables', '__ssh_keys__to_merge', pattern_type='suffix', initial_value=[]) }}"
  when: ssh_keys is undefined
