---
- name: wikiupdater | Generate directory
  file:
    path: "{{ wikiupdater_dir }}"
    state: directory
    mode: "731"

- name: wikiupdater | Count Wireguard tunnel
  set_fact:
    tunnel_count: '{{ networks | selectattr("role", "equalto", "tunnel") | length }}'

- name: wikiupdater | Generate outputfiles
  template:
    src: "templates/common/wikiupdater.j2"
    dest: "{{ wikiupdater_dir }}/{{ location }}.txt"
    mode: "644"

- name: wikiupdater | Update article
  script: ../files/wiki/update.py -l "{{ location }}"  --file "{{ wikiupdater_dir }}/{{ location }}.txt"
  register: wiki_res
  changed_when: '"UPDATED" in wiki_res.stdout'
  args:
    executable: python3

- name: wikiupdater | Print response
  debug:
    msg: "{{ wiki_res.stdout }}"
