#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% if ipv6_prefix is defined %}
package babeld

config general
	option 'local_port' '33123'
	option 'ipv6_subtrees' 'true'
	option 'ubus_bindings' 'true'

  {% for network in networks | selectattr('role', 'equalto', 'mesh') | selectattr('ipv6_subprefix') %}
    {% set _ifname = network['name'] if 'name' in network else network['role'] %}
config interface
	option 'ifname' '{{ _ifname }}'
	option 'split_horizon' '{{ (network['ptp'] if 'ptp' in network else false ) | string | lower }}'
	option 'link_quality' '{{ network.get('link_quality_based_metric', true) | string | lower }}'
	option 'rxcost' '{{ '256' if network.get('link_quality_based_metric', true) else '96' }}'

config filter
	option 'type' 'in'
	option 'if' '{{ _ifname }}'
	option 'action' 'metric {{ network.get('mesh_metric', 512) }}'

  {% endfor -%}

  {% for tunnel in networks | selectattr('role', 'equalto', 'tunnel') %}
config interface
	option 'ifname' '{{ tunnel['ifname'] }}'
	option 'split_horizon' 'true'

config filter
	option 'type' 'in'
	option 'if' '{{ tunnel['ifname'] }}'
	option 'ip' '::/0'
	option 'eq' '0'
	option 'action' 'metric {{ tunnel['mesh_metric']|default(512) }}'

  {% endfor %}

config filter
	option 'type'	'redistribute'
	option 'ip'	'{{ ipv6_prefix }}'
	option 'eq'	'{{ ipv6_prefix | ansible.utils.ipaddr('prefix') }}'

config filter
	option 'type'   'redistribute'
	option 'local'  'true'
	option 'action' 'deny'
{% endif %}
