config dnsmasq
	option domainneeded '1'
	option localise_queries '1'
	option rebind_protection '1'
	option rebind_localhost '1'
	option local '/lan/'
	option domain 'lan'
	option expandhosts '1'
	option authoritative '1'
	option readethers '1'
	option leasefile '/tmp/dhcp.leases'
	option resolvfile '/tmp/resolv.conf.auto'
	option localservice '1'
	option noping '{{ dhcp_no_ping|int if dhcp_no_ping is defined else 1 }}'
	option quietdhcp '1'

{% for network in networks | selectattr('role','equalto','dhcp') %}
config dhcp 'dhcp_{{ network['name'] if 'name' in network else network['role'] }}'
	option leasetime '5m'
	option start '2'
	option force '1'
	option ignore '0'
	option interface '{{ network['name'] if 'name' in network else network['role'] }}'
	option dhcpv6 'server'
	option ra 'server'
	option limit '{{ network['prefix'] | ipaddr('size') -3 }}'
{% if not network.get('no_corerouter_dns_record') %}

config domain 'frei_funk'
	option name 'frei.funk'
	option ip '{{ network['prefix'] | ipaddr(network['assignments'][inventory_hostname]) | ipaddr('address') }}'
{% endif %}

{% endfor %}
config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/hosts/odhcpd'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'
