#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
{% set dhcp_networks = networks | rejectattr('role', 'in', ['uplink', 'wireless_uplink', 'mesh', 'tunnel', 'ext']) | list %}
{% macro dnsmasq_options() %}
	option domainneeded '1'
	option localise_queries '1'
	option rebind_protection '1'
	option rebind_localhost '1'
	option local '/lan/'
	option local_ttl '300'
	option domain 'ff'
	option expandhosts '1'
	option authoritative '1'
	option readethers '1'
	option localservice '1'
	option noping '{{ dhcp_no_ping|int if dhcp_no_ping is defined else 1 }}'
	option quietdhcp '1'
	option cachesize '{{ dns_cache_size | default(10000) }}'
	list server '/olsr/'
	list server '/ff/'
{% for _dns_server in dns_servers %}
        list server '{{ _dns_server }}'
{% endfor %}
{% endmacro %}
{% set adblock_lean = adblock_enabled | default(false) | bool and adblock_provider == 'lean' %}
{% if freifunk_vrf or adblock_lean %}
config dnsmasq 'default'
{% else %}
config dnsmasq
{% endif %}
{% for network in direct_internet_networks %}
	list interface '{{ libnetwork.getUciIfname(network) }}'
{% endfor %}
{% if freifunk_vrf and direct_internet_networks | length == 0 %}
	{# only the resolver of the router itself, not the uplink #}
	list interface 'loopback'
{% endif %}
{% if adblock_lean and 'default' in adblock_lean_dnsmasq_instances %}
	list addnmount '/bin/busybox'
	list addnmount '/var/run/adblock-lean/abl-blocklist.gz'
{% endif %}
{{ dnsmasq_options() -}}
{% if freifunk_vrf %}

{# a process in the VRF can only bind to addresses in the VRF #}
config dnsmasq 'vrf_freifunk'
	option vrf 'vrf_freifunk'
	option leasefile '/tmp/dhcp.leases.vrf_freifunk'
	option noresolv '1'
  {% for network in dhcp_networks if not network.get('direct_internet') %}
	list interface '{{ libnetwork.getUciIfname(network) }}'
  {% endfor %}
  {% if adblock_lean and 'vrf_freifunk' in adblock_lean_dnsmasq_instances %}
	list addnmount '/bin/busybox'
	list addnmount '/var/run/adblock-lean/abl-blocklist.gz'
  {% endif %}
{{ dnsmasq_options() -}}
{% endif %}

{% for network in networks | selectattr('role', 'equalto', 'mgmt') %}
  {% for host, ip_num in network['assignments'].items() %}
config domain '{{ host | replace('-', '_') }}_ff'
	option name '{{ host }}.ff'
	option ip '{{ network['prefix'] | ansible.utils.ipaddr(ip_num) | ansible.utils.ipaddr('address') }}'

  {% endfor %}
{% endfor %}

{% for network in dhcp_networks %}
    {% set name = libnetwork.getUciIfname(network) %}

config dhcp 'dhcp_{{ name }}'
	option ignore '0'
	option interface '{{ name }}'
    {% if freifunk_vrf %}
	option instance '{{ 'default' if network.get('direct_internet') else 'vrf_freifunk' }}'
    {% endif %}
	option ra 'server'
	option dhcpv6 'disabled'
    {% if network['role'] == 'dhcp' %}
	option dhcpv4 'server'
	option force '1'
	option leasetime '{{ '12h' if network.get('direct_internet') else '5m' }}'
	option start '2'
	option limit '{{ network['prefix'] | ansible.utils.ipaddr('size') -3 }}'
      {% if network.get('direct_internet') %}
        list dhcp_option '121,0.0.0.0/0,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }}'
      {% else %}
        list dhcp_option '121,0.0.0.0/0,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }},10.31.0.0/16,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }},10.36.0.0/16,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }},10.230.0.0/16,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }},10.248.0.0/14,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }},10.30.96.0/19,{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }}'
      {% endif %}
    {% else %}
	option dhcpv4 'disabled'
    {% endif %}


{% if not network.get('no_corerouter_dns_record') %}
config domain 'frei_funk_{{ name }}'
	option name 'frei.funk'
	option ip '{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) | ansible.utils.ipaddr('address') }}'
    {% endif %}
{% endfor %}

{% for network in networks | selectattr('role','in', ['uplink', 'mesh', 'tunnel']) %}
    {% set name = libnetwork.getUciIfname(network) %}
config dhcp 'dhcp_{{ name }}'
	option interface '{{ name }}'
	option ignore '1'

{% endfor %}

{% for network in networks | selectattr('role','equalto','dhcp') %}
    {% set name = libnetwork.getUciIfname(network) %}
    {% for assignment in network['assignments'] %}
config host '{{ name }}_{{ assignment.replace("-", "_") }}'
	option name '{{ assignment }}'
	option ip '{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][assignment]) | ansible.utils.ipaddr('address') }}'
    {% endfor %}
{% endfor %}

config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/hosts/odhcpd'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'
