#jinja2: trim_blocks: "true", lstrip_blocks: "true"
config LoadPlugin
	option library 'olsrd_arprefresh'

config LoadPlugin
	option library 'olsrd_nameservice'
	option suffix '.olsr'
	option hosts_file '/tmp/hosts/olsr'
	option latlon_file '/var/run/latlon.js'
	option services_file '/var/etc/services.olsr'
{% for network in networks | selectattr('assignments', 'mapping') %}
  {% for host, ip_num in network['assignments'].items() if host != inventory_hostname %}
	list hosts '{{ network['prefix'] | ansible.utils.ipaddr(ip_num) | ansible.utils.ipaddr('address') }} {{ host }}'
  {% endfor %}
{% endfor %}
# TODO: check that host names are not repeated from the assignments list and throw an error otherwise
{% for dhcp_static_lease in dhcp_static_leases | default([]) %}
{% if dhcp_static_lease['name'] is defined and dhcp_static_lease['ip'] is defined and dhcp_static_lease['olsrd_nameservice'] is defined and dhcp_static_lease['olsrd_nameservice'] == 1 %}
        list hosts '{{ dhcp_static_lease['ip'] }} {{ dhcp_static_lease['name'] }}'
{% endif %}
{% endfor %}
{% for olsrd_service in olsrd_services | default([]) %}
  {% if olsrd_service['url'] is defined and olsrd_service['protocol'] is defined and olsrd_service['name'] is defined and olsrd_service['url'] | regex_search('.*\\|.*') is none and olsrd_service['protocol'] | regex_search('^(tcp|udp)$') is defined and olsrd_service['name'] | regex_search('^[a-zA-Z0-9 \-]{1,75}$') is defined %}
        list service '{{ olsrd_service['url'] }}|{{ olsrd_service['protocol'] }}|{{ olsrd_service['name'] }}'
  {% endif %}
{% endfor %}

config LoadPlugin
	option accept '0.0.0.0'
	option library 'olsrd_jsoninfo'
	option ignore '0'

config LoadPlugin
	option accept '0.0.0.0'
	option library 'olsrd_txtinfo'
	option port '2006'

config olsrd
	option IpVersion '4'
	option FIBMetric 'flat'
	option AllowNoInt 'yes'
	option TcRedundancy '2'
	option NatThreshold '0.75'
	option LinkQualityAlgorithm 'etx_ff'
	option SmartGateway 'no'
	option SmartGatewayThreshold '50'
	option Pollrate '0.025'
	option SmartGatewaySpeed '45000 200000'
	option SmartGatewayUplink 'both'
	option LinkQualityLevel '2'
	option OlsrPort '698'
	option Willingness '3'
	option TosValue '16'

config InterfaceDefaults
	option MidValidityTime '500.0'
	option TcInterval '2.0'
	option HnaValidityTime '125.0'
	option HelloValidityTime '125.0'
	option TcValidityTime '500.0'
	option Ip4Broadcast '255.255.255.255'
	option MidInterval '25.0'
	option HelloInterval '3.0'
	option HnaInterval '10.0'

{% for network in networks | selectattr('role', 'equalto', 'mesh') %}
config Interface
	option ignore '0'
	option interface '{{ network['name'] if 'name' in network else network['role'] }}'
	option Mode '{{ 'ether' if network.get('ptp') else 'mesh' }}'
  {% for i in network['mesh_metric_lqm'] | default([]) %}
	list LinkQualityMult '{{ i }}'
  {% endfor %}

{% endfor %}
{% for network in networks | rejectattr('role', 'equalto', 'uplink') | selectattr('prefix') %}
  {% if network['prefix'] | ansible.utils.ipaddr('prefix') < 32 %}

# Network: {{ network['name'] if 'name' in network else network['role'] }}
config Hna4
	option netmask '{{ network['prefix'] | ansible.utils.ipaddr('netmask') }}'
	option netaddr '{{ network['prefix'] | ansible.utils.ipaddr('network') }}'
  {% endif %}
{% endfor %}
