config agent
        option agentaddress UDP:161,UDP6:161

config agentx
        option agentxsocket /var/run/agentx.sock

config com2sec public
        option secname ro
        option source default
        option community public

config com2sec private
        option secname rw
        option source localhost
        option community private

config com2sec6 public6
        option secname ro
        option source default
        option community public

config com2sec6 private6
        option secname rw
        option source localhost
        option community private

config group public_v1
        option group public
        option version v1
        option secname ro

config group public_v2c
        option group public
        option version v2c
        option secname ro

config group public_usm
        option group public
        option version usm
        option secname ro

config group private_v1
        option group private
        option version v1
        option secname rw

config group private_v2c
        option group private
        option version v2c
        option secname rw

config group private_usm
        option group private
        option version usm
        option secname rw

config view all
        option viewname all
        option type included
        option oid .1

config access public_access
        option group public
        option context none
        option version any
        option level noauth
        option prefix exact
        option read all
        option write none
        option notify none

config access private_access
        option group private
        option context none
        option version any
        option level noauth
        option prefix exact
        option read all
        option write all
        option notify all

config system
        option sysLocation      '{{ location_nice }}'
        option sysContact       '{{ contacts[0] }}'
        option sysName          '{{ hostname }}'
#       option sysServices      72
#       option sysDescr         'adult playground'
#       option sysObjectID      '1.2.3.4'

config exec
        option name     filedescriptors
        option prog     /bin/cat
        option args     /proc/sys/fs/file-nr
#       option miboid   1.2.3.4

config engineid
#       option engineid 'LEDE'
        option engineidtype '3'
        option engineidnic 'eth0'

#config trapcommunity 'trapcommunity'
#       option community 'public'

#config trapsink
#       option host 'nms.system.com'
#       option community 'public'
#       option port '162'

#config trap2sink
#       option host 'nms.system.com'
#       option community 'secret'
#       option port '162'

#config informsink
#       option host 'nms.sytem.com'
#       option community 'public'
#       option port '162'

#config authtrapenable 'authtrapenable'
#       option enable '1'

#config v1trapaddress 'v1trapaddress'
#       option host '1.2.3.4'

#config trapsess 'trapsess'
#       option trapsess '-v 3 -e 0x80001f88808c18d3f7b0000 -u trapuser -a MD5 -A administrator -l authPriv -x DES -X rootpasswd udp:127.0.0.1:162'

config snmpd general
        option enabled '1'
#       list network 'wan'
#
#config logging
#       option log_file '/var/log/snmpd.log'
#       option log_file_priority 'i'
#       option log_syslog '0'
#       option log_syslog_facility 'd'
#
#config v3
#       option username 'John'
#       option allow_write '0'
#       option auth_type 'SHA|MD5'
#       option auth_pass 'passphrase'
#       option privacy_type 'AES|DES'
#       option privacy_pass 'passphrase'
#       option RestrictOID 'yes|no'
#       option RestrictedOID '1.3.6.1.2.1.1.1'

#===================================================================
# LIBRENMS SPECIFIC CONFIG
# https://docs.librenms.org/Support/Device-Notes/Openwrt/#openwrt
#===================================================================

config extend
        option name distro
        option prog '/etc/librenms/distro'
config extend
        option name hardware
        option prog '/bin/cat'
        option args '/sys/firmware/devicetree/base/model'
config extend
        option name     interfaces
        option prog     "/bin/cat /etc/librenms/wlInterfaces.txt"
config extend
        option name     clients-wlan2
        option prog     "/etc/librenms/wlClients.sh wlan2"
config extend
        option name     clients-wlan5
        option prog     "/etc/librenms/wlClients.sh wlan5"
config extend
        option name     clients-wlan
        option prog     "/etc/librenms/wlClients.sh"
config extend
        option name     frequency-wlan2
        option prog     "/etc/librenms/wlFrequency.sh wlan2"
config extend
        option name     frequency-wlan5
        option prog     "/etc/librenms/wlFrequency.sh wlan5"
config extend
        option name     rate-tx-wlan2-min
        option prog     "/etc/librenms/wlRate.sh wlan2 tx min"
config extend
        option name     rate-tx-wlan2-avg
        option prog     "/etc/librenms/wlRate.sh wlan2 tx avg"
config extend
        option name     rate-tx-wlan2-max
        option prog     "/etc/librenms/wlRate.sh wlan2 tx max"
config extend
        option name     rate-tx-wlan5-min
        option prog     "/etc/librenms/wlRate.sh wlan5 tx min"
config extend
        option name     rate-tx-wlan5-avg
        option prog     "/etc/librenms/wlRate.sh wlan5 tx avg"
config extend
        option name     rate-tx-wlan5-max
        option prog     "/etc/librenms/wlRate.sh wlan5 tx max"
config extend
        option name     rate-rx-wlan2-min
        option prog     "/etc/librenms/wlRate.sh wlan2 rx min"
config extend
        option name     rate-rx-wlan2-avg
        option prog     "/etc/librenms/wlRate.sh wlan2 rx avg"
config extend
        option name     rate-rx-wlan2-max
        option prog     "/etc/librenms/wlRate.sh wlan2 rx max"
config extend
        option name     rate-rx-wlan5-min
        option prog     "/etc/librenms/wlRate.sh wlan5 rx min"
config extend
        option name     rate-rx-wlan5-avg
        option prog     "/etc/librenms/wlRate.sh wlan5 rx avg"
config extend
        option name     rate-rx-wlan5-max
        option prog     "/etc/librenms/wlRate.sh wlan5 rx max"
config extend
        option name     noise-floor-wlan2
        option prog     "/etc/librenms/wlNoiseFloor.sh wlan2"
config extend
        option name     noise-floor-wlan5
        option prog     "/etc/librenms/wlNoiseFloor.sh wlan5"
config extend
        option name     snr-wlan2-min
        option prog     "/etc/librenms/wlSNR.sh wlan2 min"
config extend
        option name     snr-wlan2-avg
        option prog     "/etc/librenms/wlSNR.sh wlan2 avg"
config extend
        option name     snr-wlan2-max
        option prog     "/etc/librenms/wlSNR.sh wlan2 max"
config extend
        option name     snr-wlan5-min
        option prog     "/etc/librenms/wlSNR.sh wlan5 min"
config extend
        option name     snr-wlan5-avg
        option prog     "/etc/librenms/wlSNR.sh wlan5 avg"
config extend
        option name     snr-wlan5-max
        option prog     "/etc/librenms/wlSNR.sh wlan5 max"
