#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}

{% set all_uplinks = networks | selectattr('role', 'in', ['wireless_uplink', 'uplink']) | list %}
{% for uplink in all_uplinks %}
  {% if uplink['role'] == 'wireless_uplink' %}
    {% set wd = wireless_devices | selectattr('name', 'equalto', uplink['radio']) | list | first %}
    {% set uplink_netns = uplink['name']|default('wireless_uplink') %}
    {% set uplink_ifname = wd['ifname_hint'] + '-sta' %}
    {% set uplink_mode = 'passthru' %}
    {% set uplink_mac = libnetwork.generateDeterministicMAC(inventory_hostname ~ "-tunspace-wlan") %}
  {% else %}
    {% set uplink_netns = uplink['name'] if 'name' in uplink else 'uplink' %}
    {% set uplink_ifname = libnetwork.getIfname(uplink) %}
    {% set uplink_mode = uplink['uplink_mode'] if 'uplink_mode' in uplink else 'bridge' %}
    {% set uplink_mac = libnetwork.generateDeterministicMAC(inventory_hostname ~ "-tunspace") %}
  {% endif %}
  {% set uplink_ipv4 = uplink.get('uplink_ipv4', '') %}
  {% set uplink_gateway = uplink.get('uplink_gateway', '') %}

config tunspace "tunspace"
  # Namespace where the uplink will live.
  option uplink_netns "{{ uplink_netns }}"
  # Existing interface (or wireless interface for wireless_uplink) used as the uplink.
  option uplink_ifname "{{ uplink_ifname }}"
  # How the uplink in the namespace is constructed.
  # - bridge: creates a macvlan child in bridge mode, useful for creating multiple uplinks from the same original uplink interface.
  # - passthru: macvlan shares parent MAC, required for wireless uplinks (DHCP works with single lease).
  # - direct: moves the original uplink interface into the namespace directly, useful for wonky cheap USB sticks with broken drivers.
  option uplink_mode "{{ uplink_mode }}"
  # Our own static uplink IPv4 address in CIDR format. Leave empty to use DHCP.
  option uplink_ipv4 "{{ uplink_ipv4 }}"
  # IPv4 address of the gateway. Required in combination with uplink_ipv4, ignored when using DHCP.
  option uplink_gateway "{{ uplink_gateway }}"
  # Define deterministic mac address
  option uplink_mac "{{ uplink_mac }}"
  # Maintenance consists of checking the uplink, refreshing the DHCP lease, checking the tunnel endpoints, and switching endpoints if neccessary.
  option maintenance_interval 60
  # Enables detailed output of Tunspace's operations. If disabled, only tunnel endpoint changes are reported.
  option debug "0"
{% endfor %}

{% for tunnel in networks | selectattr('role', 'equalto', 'tunnel') %}
config wg-interface
  option ifname "{{ tunnel['ifname'] }}"
  option ipv6 "fe80::2/64"
  option ipv4 "{{ tunnel['prefix'] }}"
  option mtu "{{ tunnel['mtu'] }}"
  option port "{{ tunnel['wireguard_port'] }}"
  option disabled "0"

{% endfor %}

{% for gateway in groups['role_gateway'] | sort %}
{% if hostvars[gateway]["development"] | default(false) == false %}
config wg-server
  option name "{{ gateway }}"
  option url "https://{{ hostvars[gateway]['uplink']['ipv4'] | ansible.utils.ipaddr('address') }}/ubus"
  option insecure_cert "1"
  option disabled "0"
{% endif %}
{% endfor %}
