---
ipv6_prefix: "2001:bf7:820:1500::/56"

# Complete subnet: 10.230.2.0/24
# MGMT Network: 10.230.2.0/28
# Mesh Network: 10.230.2.16/28 (-23)
# DHCP Network: 10.230.2.32/28

networks:
  - vid: 2
    role: dhcp
    prefix: 10.230.2.32/28
    ipv6_subprefix: 0
    untagged: true
    inbound_filtering: true
    enforce_client_isolation: true
    assignments:
      philmel-core: 1

  # northeast mesh 5GHz ac
  - vid: 10
    role: mesh
    name: mesh_no_5ghz         # Peers: kiehlufer-core
    prefix: 10.230.2.17/32
    ipv6_subprefix: -1
    mesh_metric: 1024

  # northwest mesh 5GHz ac
  - vid: 11
    role: mesh
    name: mesh_nw_5ghz          # Peers: liegewiese, sgfrd-core
    prefix: 10.230.2.18/32
    ipv6_subprefix: -2
    mesh_metric: 1024

  - vid: 12
    role: mesh
    name: mesh_ost            # Peers: Area51, delbrueck66
    prefix: 10.230.2.19/32
    ipv6_subprefix: -3
    mesh_metric: 1024

  - vid: 13
    role: mesh
    name: mesh_vaterhaus
    prefix: 10.230.2.20/32
    ipv6_subprefix: -4
    mesh_metric: 1024

  - vid: 14
    role: mesh
    name: mesh_sued           # Peers: kranold18, GSBS2
    prefix: 10.230.2.21/32
    ipv6_subprefix: -5
    mesh_metric: 1024

  - vid: 15
    role: mesh
    name: mesh_sued_5ghz
    prefix: 10.230.2.22/32
    ipv6_subprefix: -6
    mesh_metric: 1024

  - vid: 16
    role: mesh
    name: mesh_west           # Peers: emser97
    prefix: 10.230.2.23/32
    ipv6_subprefix: -7
    mesh_metric: 1024

  - vid: 17
    role: mesh
    name: mesh_ak36
    prefix: 10.230.2.24/32
    ipv6_subprefix: -8
    ptp: true
    mesh_metric: 1024
    mesh_metric_lqm: ['default 0.3']  # prefer rhnk link

  - vid: 18
    role: mesh
    name: mesh_rhnk
    prefix: 10.230.2.25/32
    ipv6_subprefix: -9
    ptp: true
    mesh_metric: 128

  - vid: 19
    role: mesh
    name: mesh_nw_60ghz
    prefix: 10.230.2.26/32
    ipv6_subprefix: -10
    ptp: true
    mesh_metric: 1024

  - vid: 42
    role: mgmt
    prefix: 10.230.2.0/28
    gateway: 1
    dns: 1
    ipv6_subprefix: 1
    assignments:
      philmel-core: 1
      philmel-switch-1: 2
      philmel-switch-2: 3
      philmel-rhnk: 4
      philmel-no-5ghz: 5
      philmel-nw-5ghz: 6
      philmel-ost-legacy: 7
      philmel-vaterhaus: 8
      philmel-sued-legacy: 9
      philmel-sued-5ghz: 10
      philmel-ak36: 12
      philmel-west-legacy: 11
      philmel-nw-60ghz: 14
