#jinja2: trim_blocks: True, lstrip_blocks: True

# Retrieve the port name of a wireless network
{% macro getLocalAdhocIfnameByNetwork(network) %}
  {% set wd = wireless_devices | selectattr('name', 'equalto', network['mesh_radio']) | list | first %}
{{- wd['ifname_hint'] + '-' + network['mesh_iface'] -}}
{% endmacro %}
