FREIFUNK_DISTRIB_ID="BBB-Configs"
FREIFUNK_RELEASE="{{ feed_version }}"
FREIFUNK_REVISION="{{ git_revision }}"
{% set tunnel_present = networks | default([]) | selectattr('role', 'equalto', 'tunnel') | list | length > 0 %}
FREIFUNK_VARIANT="{{ 'tunnel' if role == 'corerouter' and tunnel_present else role }}"
