#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
#!/usr/sbin/nft -f
{% set profile = wireless_profiles | selectattr('name', 'equalto', wireless_profile) | list | first -%}

{# DISCLAIMER: i'm not very proud of the following. feel free to find more elegant way!
   Basically we need a list of dicts which can be used later on.
network_ifname_map =
  - network: dhcp
    ifname: wlan5-dhcp
  - ..
#}
{% set network_ifname_map = [] %}
{% for wd in wireless_devices | default([]) %}
  {% set wd_ifaces = profile['ifaces'] | default([]) | selectattr('radio', 'contains', wd['name']) %}
  {% if 'devices' in profile %}
    {% set wd_config = profile['devices'] | default([]) | selectattr('radio', 'contains', wd['name']) | first %}
  {% else %}
    {% set wd_config = {} %}
  {% endif %}
  {% set wd_ifaces = profile['ifaces'] | default([]) | selectattr('radio', 'contains', wd['name']) %}
  {% if not wd_config.get('disabled') %}
    {% for iface in wd_ifaces %}
      {% set ifname = wd['ifname_hint'] + '-' + iface['ifname_hint']|default('if' + loop.index0|string) %}
      {% if iface['mode'] == 'ap' %}
        {{ network_ifname_map.append({'network': iface['network'], 'ifname': ifname })}}
      {% elif iface['mode'] == 'mesh' %}
        {% set mesh_nets = networks | selectattr('role','defined') | selectattr('role','equalto','mesh')
          | selectattr('mesh_ap','defined') | selectattr('mesh_ap','equalto',inventory_hostname)
          | selectattr('mesh_radio','equalto', wd['name']) | selectattr('mesh_iface','equalto',iface['ifname_hint']) %}
        {% if mesh_nets | length > 0 %}
          {{ network_ifname_map.append({'network': (mesh_nets|first)['name'], 'ifname': ifname })}}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{# DISCLAIMER SCOPE END #}

{%- set networks_to_use = networks
    | selectattr('enforce_client_isolation', 'defined')
    | selectattr('enforce_client_isolation')
    | list -%}

{%- if networks_to_use | length > 0 %}
define gw = 02:00:00:00:00:01
define bc = ff:ff:ff:ff:ff:ff
define mc6 = 33:33:00:00:00:00/16

table bridge client_isolation
flush table bridge client_isolation
table bridge client_isolation {
{%- for net in networks_to_use %}
    {%- set name = net['name'] if 'name' in net else net['role'] -%}
    {%- set wifi_ifnames = network_ifname_map
        | selectattr('network', 'equalto', name)
        | map(attribute='ifname')
        | list -%}
    {%- if wifi_ifnames | length > 0 %}
        {%- set wifi = '{ ' + wifi_ifnames | join(', ') + ' }' -%}
        {%- set uplink = libnetwork.getPortIfname(net) if role == 'ap' else '!= ' + wifi -%}
    chain PREROUTING_{{ name }} {
        type filter hook prerouting priority 0; policy accept;
        {{ 'iif' if role == 'ap' else 'iifname' }} {{ uplink }} accept
        iifname {{ wifi }} ether daddr $bc ether daddr set $gw
        iifname {{ wifi }} ether daddr $mc6 ether daddr set $gw
        iifname {{ wifi }} ether daddr $gw accept
        iifname {{ wifi }} drop
    }
    {% endif %}
{% endfor %}
}
{% endif %}

{#
  Reflection filter

  We sometimes receive our own packets back. It happens when a location has
  two or more mesh APs or core routers which are badly isolated, use
  overlapping frequencies, or are aligned to be in each others beam.
  Can't be prevented 100%, happens. Any suitable obstacle in a single antenna's
  beam can cause reflections too.

  Reflections were observed in 2021 with old 2 GHz Nanostations at Emmauskirche:
  https://github.com/freifunk-berlin/bbb-configs/issues/119

  It usually works like this: core router transmits a packet over mesh VLAN,
  a mesh AP receives it on its bridge and transmits it out over the wifi mesh
  interface. Another mesh AP or core router at the same location receives
  the packet on its wifi mesh interface, and through its bridge puts it on
  another mesh VLAN, where the same core router receives it.

  In traditional network environments, receiving packets with one's own MAC
  address as source would be cause for concern, so Linux complains with
  a log message:

      switch0: received packet on lan4 with own address as source address

  For us reflected packets caused issues as follows:

  1) Services like bird use MAC addresses as unique identifiers and detected
     reflections as duplicate identifiers.

  2) Infrastructure devices (= switches) between mesh AP and core router got
     confused about the same MAC address seemingly living on multiple ports.

  3) Log noise caused by reflections drowned out more important messages
 
  So we need to avoid letting these packets back into the location.

  We now filter reflected packets by blocking traffic from the deterministic
  MAC addresses of wireless mesh interfaces. Each mesh interface gets two
  deterministic MAC addresses:

  - One for the bridge/network interface (used for meshing via e.g Ubiquiti
    or Mikrotik devices)
  - One for the wireless interface (used for 802.11s mesh)

  The filter uses the wireless MAC addresses to block reflected traffic,
  since reflections happen at the wireless level. The wireless MAC is
  generated using the seed: inventory_hostname + "-" + network_name + "-wifi"

  This filter runs on all devices (APs and core routers) that have mesh
  interfaces with mesh_ap defined. For each mesh interface, we block traffic
  from all mesh interfaces at this location using the same radio standard
  (mesh_radio), including our own (agains reflections from buildings, etc.)
#}
{% set mesh_networks = networks | selectattr('role', 'equalto', 'mesh') | selectattr('name','in', network_ifname_map|map(attribute='network')) | list %}
{% set all_mesh_networks = networks | selectattr('role', 'equalto', 'mesh') | selectattr('mesh_ap', 'defined') | list %}
{% if mesh_networks | length > 0 %}

table bridge prevent_mesh_reflection
flush table bridge prevent_mesh_reflection
table bridge prevent_mesh_reflection {
{% for network in mesh_networks %}
    {% set wifi_if = network_ifname_map | selectattr('network', 'equalto', network['name']) | map(attribute='ifname') | first %}
    {% set set_name = 'blocked_macs_' + network['name'] %}
    {% set current_radio = network['mesh_radio'] if 'mesh_radio' in network else '' %}
    {% set ns = namespace(macs=[]) %}
    {% for other_net in all_mesh_networks %}
        {% set other_radio = other_net['mesh_radio'] if 'mesh_radio' in other_net else '' %}
        {% if other_radio == current_radio %}
            {% set other_mac = libnetwork.generateDeterministicMAC(other_net['mesh_ap'] ~ '-' ~ other_net['name'] ~ '-wifi') %}
            {% set ns.macs = ns.macs + [other_mac] %}
        {% endif %}
    {% endfor %}
    {% if ns.macs | length > 0 %}
	set {{ set_name }} {
		type ether_addr
		elements = { {{ ns.macs | join(', ') }} }
	}
	chain PREROUTING_{{ network['name'] }} {
		type filter hook prerouting priority 0; policy accept;
		iifname {{ wifi_if }} ether saddr @{{ set_name }} counter drop
	}
    {% endif %}
{% endfor %}
}
{% endif %}
