# Put your custom commands here that should be executed once
# the system init finished. By default this file does nothing.

NFT_CONF="/etc/nftables.conf"
if [[ -f "$NFT_CONF" ]]; then
    # sleep in order to make sure all interfaces are created
    sleep 10
    nft -f "$NFT_CONF"
fi

{% if sysupgrade_preserve_custom_files|default(False) %}
# sysupgrade_preserve_custom_files was set. Therefore delete all
# shipped "preservation" definitions
rm /lib/upgrade/keep.d/*

# sysupgrade also looks up the config file definitions by opkg.
# Prune em'
sed -i '/^ \/etc/d' /usr/lib/opkg/status
{% endif %}

{% for override in sysfs_overrides | default([]) %}
echo {{ override['value'] }} > {{ override['path'] }}
{% endfor%}

{% if role == 'corerouter' or role == 'gateway' %}
# make sure mld listener reports are frequently sent on
# gateways and core routers
/etc/force_mcast_mld_reports.sh &
{% endif %}

{% for cmd in rclocal | default([]) %}
{{ cmd }}
{% endfor %}

{% if snmp_devices is defined and snmp_devices|selectattr('snmp_profile', 'equalto', 'airos_6')|list|length >  0 %}
# Change the option "procd_set_param stderr  1" to "0" in the file /etc/init.d/collectd
# This is needed because airos_6 APs w/o stations resulted in a lot of local log spamming
sed -i 's/\(procd_set_param stderr\)[[:space:]]*1/\1  0/' /etc/init.d/collectd
{% endif %}

exit 0
