# Defaults are configured in /etc/sysctl.d/* and can be customized in this file
{% for i in sysctl | default({}) %}
{{ i }}={{ sysctl[i] }}
{% endfor %}

{% if 'zram-swap' in packages %}
vm.swappiness=100
{% endif %}
