#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
# Defaults are configured in /etc/sysctl.d/* and can be customized in this file
{% for i in sysctl | default({}) %}
{{ i }}={{ sysctl[i] }}
{% endfor %}

{% if 'zram-swap' in packages %}
vm.swappiness=100
{% endif %}

{% if role == 'ap' %}
  {% for network in networks | selectattr('vid', 'defined') %}
  {% set port = libnetwork.getPortIfname(network) %}
  {% if 'ipv6_subprefix' in network and 'assignments' in network and inventory_hostname in network['assignments'] %}
net.ipv6.conf.{{ port | replace('.', '/') }}.accept_ra=2
  {% endif %}
  {% endfor %}
{% endif %}
