#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# Defaults are configured in /etc/sysctl.d/* and can be customized in this file

{% for key, value in (sysctl | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}

{% if 'zram-swap' in packages %}
vm.swappiness=100
{% endif %}

{% if role == 'ap' %}
  {% for network in networks | selectattr('vid', 'defined') %}
    {% set port = (dsa_ports is defined and 'switch0' or int_port) ~ '.' ~ network.vid %}
    {% if 'ipv6_subprefix' in network and 'assignments' in network and inventory_hostname in network.assignments %}
net.ipv6.conf.{{ port | replace('.', '/') }}.accept_ra=2
    {% endif %}
  {% endfor %}
{% endif %}
