#jinja2: trim_blocks: True, lstrip_blocks: True

{#- Printing files in semantic mediawiki syntax for wiki.freifunk.net #}
{% raw %}{{#set:{% endraw %}

{# attributes is a list of vars that can be directly printed without any magic #}
{% set attributes = [
    'location_nice',
    'latitude',
    'longitude',
    'altitude',
    'height',
    'ipv6_prefix'
    ]%}
{% for i in attributes %}
|{{i}}= {{lookup('vars', i|string, default='')}}
{% endfor %}

{%- if contact_name is defined %}
|Ansprechpartner Name = {{contact_name}}
{% endif %}{%- if contact_nickname is defined %}
|Ansprechpartner Nickname = {{contact_nickname}}
{% endif %}
{% for contact in contacts %}
{# Check if Contact is a Matrixroom because the wiki interprets #foo:matrix.org as a URI fragment #}
    {% if (contact | regex_search('^#.*\:.*\..*')) %}
|Ansprechpartner Kontakt = https://matrix.to/#/{{contact}}
    {% else %}
|Ansprechpartner Kontakt = {{contact}}
    {% endif %}
{% endfor %}

{% for network in networks %}
    {% if network['role'] == 'mesh' %}
|Mesh Adressen = {{ network['prefix']}}
|Mesh Liste = {{network['vid']}}({{network['name']}})
    {% elif network['role'] == 'tunnel' %}
|Mesh Adressen = {{ network['prefix']}}
    {% elif network['role'] == 'mgmt'%}
|Managementnetwork = {{ network['prefix'] }}
        {% for assignment in network['assignments']%} {# uses the list of mgmt-network-assignments to loop thru all devices #}
{% raw %}{{#subobject: {% endraw %}{{assignment}}
|name = {{ assignment }}
|IPv4 = {{network['prefix'] | ansible.utils.ipaddr(network['assignments'][assignment]) | ansible.utils.ipaddr('address') }}
            {% for property in ['role', 'model', 'target']%}
                {% for properties in groups | select('match', property~'_.*')%}
                    {% if assignment in groups[properties] %}
|{{property}} = {{properties.replace(property~'_','')}}
                    {% endif %}
                {% endfor %}
            {% endfor %}
{% raw %}}}{% endraw %}

        {% endfor %}
    {% elif network['role'] == 'dhcp'%}
        {# Doing it this way to account for different dhcp-networks like private ones (brdhcp) #}
|{{network['name']|default('dhcp')}}network =  {{network['prefix']}}
    {% endif %}
{% endfor %}
{% if tunnel_count is defined %}
|Wireguard Tunnel = {{ tunnel_count }}
{% endif %}


{#- Setting categories #}
{% raw %}
[[Kategorie:Berlin]]
[[Kategorie:BBB]]
[Kategorie:Standorte_Berlin|{% endraw %}{{location}}{% raw %}]]{% endraw %}
