config dnsmasq
	option domainneeded '1'
	option localise_queries '1'
	option rebind_protection '1'
	option rebind_localhost '1'
	option local '/lan/'
	option domain 'lan'
	option expandhosts '1'
	option authoritative '1'
	option readethers '1'
	option localservice '1'
	option quietdhcp '1'
  {% if (dsa_ports is defined) or (switch_ports|default(0) > 0) %}
    {% set ifname = ('switch0' if dsa_ports is defined else int_port) + '.' + network['vid']|string %}
  {% else %}
    {% set ifname = ((int_port) + '.' + network['vid']|string if not network.get('untagged') else (int_port)) %}
  {% endif %}	list notinterface '{{ ifname }}'
{% for _dns_server in dns_servers %}
        list server '{{ _dns_server }}'
{% endfor %}


{% for link in mesh_links %}
config dhcp 'dhcp_{{ link['name'] }}'
	option interface '{{ link['name'] }}'
	option ignore '1'
{% endfor %}

{% for gateway in groups['role_gateway'] | difference([inventory_hostname]) | sort %}
{% set name = hostvars[gateway]['gre_tunnel_alias'] %}
config dhcp 'dhcp_{{ name }}'
	option interface '{{ name }}'
	option ignore '1'

{% endfor %}

config dhcp 'uplink'
	option interface 'uplink'
	option ignore '1'

config dhcp 'mgmt'
	option interface 'mgmt'
	option ignore '1'

config odhcpd 'odhcpd'
	option ignore '1'
