# See https://openwrt.org/docs/guide-user/base-system/dropbear
config dropbear main
        option enable '1'
        option PasswordAuth '0'
        option RootPasswordAuth '0'
        option Port         '22'
#       option BannerFile   '/etc/banner'
