---
zonename: 'Europe/Berlin'
timezone: 'CET-1CEST,M3.5.0,M10.5.0/3'

contact_nickname: 'please_add_operator_name'
contact_email: 'please_add_operators_contact'


dns_servers:
  - 46.182.19.48
  - 80.67.169.40
  - 194.150.168.168
  - 2001:4ce8::53
  - 2001:910:800::12

ntp_servers:
  - 0.openwrt.pool.ntp.org
  - 1.openwrt.pool.ntp.org
  - 2.openwrt.pool.ntp.org
  - 3.openwrt.pool.ntp.org

collectd_host: monitor.berlin.freifunk.net
collectd_ping_host: 1.1.1.1

feed: "src/gz openwrt_falter https://buildbot.berlin.freifunk.net/buildbot/feed/__FEED_VERSION__/packages/__INSTR_SET__/falter"

# Preserve following files (allow list)
sysupgrade_preserve_custom_files:
  - /etc/shadow
  - /etc/uhttpd.crt
  - /etc/uhttpd.key
  - /etc/dropbear/dropbear_rsa_host_key
  - /etc/dropbear/dropbear_ed25519_host_key
  - /etc/wireguard/wg.pub
  - /etc/wireguard/wg.key
  - /root/

image_search_pattern: "*-sysupgrade.*"

all_sysctl__to_merge:
  # when oom kicks in most likely something broke. Panic/Reboot then
  vm.panic_on_oom: 1

  # resolves an issue where oom acting to early
  vm.overcommit_memory: 2

  # especially on low mem devices this is important
  vm.min_free_kbytes: 1024

compat_version: 1.0
