---
zonename: 'Europe/Berlin'
timezone: 'CET-1CEST,M3.5.0,M10.5.0/3'

# TODO: find a second good DNS upstream in Berlin
dns_servers:
  # quad9.net @ megaport l105+ak36
  - 2620:fe::10
  - 2620:fe::fe:10
  - 9.9.9.10
  - 149.112.112.10

ntp_servers:
  - 0.openwrt.pool.ntp.org
  - 1.openwrt.pool.ntp.org
  - 2.openwrt.pool.ntp.org
  - 3.openwrt.pool.ntp.org

collectd_host: monitor.berlin.freifunk.net
collectd_ping_hosts:
  - 1.1.1.1
  - 2606:4700:4700::1111

# Preserve following files (allow list)
sysupgrade_preserve_custom_files:
  - /etc/shadow
  - /etc/uhttpd.crt
  - /etc/uhttpd.key
  - /etc/dropbear/dropbear_rsa_host_key
  - /etc/dropbear/dropbear_ed25519_host_key
  - /root/

image_search_pattern: "*-sysupgrade.*"

all_sysctl__to_merge:
  # when oom kicks in most likely something broke. Panic/Reboot then
  vm.panic_on_oom: 1

  # resolves an issue where oom acting to early
  vm.overcommit_memory: 2

  # especially on low mem devices this is important
  vm.min_free_kbytes: 1024


## Routing Section:
freifunk_global_prefix: 2001:bf7::/32

# Default mesh metric in inbound direction (rxcost) for normal mesh links
mesh_metric_default_in: 512

# Default mesh metric in all directions for tunnels
mesh_metric_tunnel_in: 3072

# Default mesh metrics in inbound direction (rxcost) for adhoc like interfaces
mesh_metric_adhoc_11a_standard: 2048
mesh_metric_adhoc_11g_standard: 2560
