---
# default OpenWRT version to build from unless overridden
openwrt_version: 21.02-SNAPSHOT
imagebuilder: https://downloads.openwrt.org/{{ 'snapshots' if openwrt_version == 'snapshot' else 'releases/' ~ openwrt_version }}/targets/{{ target }}/openwrt-imagebuilder-{{ openwrt_version ~ '-' if openwrt_version != 'snapshot' else '' }}{{ target|replace('/','-') }}.Linux-x86_64.tar.xz
feed: "src/gz openwrt_falter https://firmware.berlin.freifunk.net/feed/__FEED_VERSION__/packages/__INSTR_SET__/falter"


all__packages__to_merge:
  - mtr
  - tcpdump
  - iperf3
  - luci-ssl
  - ip6tables # Its not pulled in by default anymore bc fw4
  - collectd-mod-interface
  - collectd-mod-iwinfo
  - collectd-mod-load
  - collectd-mod-memory
  - collectd-mod-ping
  - collectd-mod-uptime
  - collectd-mod-network
  - vnstat
  - -ppp
  - -ppp-mod-pppoe
  - -wpad-basic
  - -wpad-basic-wolfssl
  - hostapd-wolfssl
  - nftables
  - kmod-nft-bridge

all_disabled_services__to_merge:
  - "olsrd6"
