---
# default OpenWRT version to build from unless overridden
openwrt_version: 23.05-SNAPSHOT
imagebuilder_filename: "openwrt-imagebuilder-{{ openwrt_version ~ '-' if openwrt_version != 'snapshot' else '' }}{{ target | replace('/','-') }}.Linux-x86_64.tar.xz"
imagebuilder: "https://downloads.cdn.openwrt.org/{{ 'snapshots' if openwrt_version == 'snapshot' else 'releases/' ~ openwrt_version }}/targets/{{ target }}/{{ imagebuilder_filename }}"
feed: "src/gz openwrt_falter https://firmware.berlin.freifunk.net/feed/__FEED_VERSION__/packages/__INSTR_SET__/falter"


all__packages__to_merge:
  - collectd-mod-interface
  - collectd-mod-iwinfo
  - collectd-mod-load
  - collectd-mod-memory
  - collectd-mod-network
  - collectd-mod-ping
  - collectd-mod-uptime
  - ethtool
  - ip6tables                  # Its not pulled in by default anymore bc fw4
  - iperf3
  - iwinfo
  - kmod-nft-bridge
  - mtr
  - nftables
  - tcpdump
  - vnstat
  - -ppp
  - -ppp-mod-pppoe

ssl__packages__to_merge:
  - -wpad-basic
  - -wpad-basic-mbedtls
  - -wpad-basic-wolfssl
  - -libustream-mbedtls
  - libustream-wolfssl
  - hostapd-wolfssl
  - px5g-wolfssl

all_luci_base__packages__to_merge:
  - luci-app-babeld
  - luci-app-olsr
  - luci-app-olsr-services
  - luci-mod-falter
  - falter-common
  - luci-app-falter-owm
  - luci-app-falter-owm-ant
  - luci-app-falter-owm-cmd
  - luci-app-falter-owm-gui
  - libiwinfo-lua
  - luci-mod-admin-full
  - luci-proto-ipv6
  - luci-theme-bootstrap
  - rpcd-mod-rrdns
  - uhttpd
  - uhttpd-mod-ubus

all_disabled_services__to_merge:
  - "olsrd6"
