---

wireless_profiles:
  - name: disable
    devices:
      - radio: 11a_standard
        disabled: true
      - radio: 11g_standard
        disabled: true
      - radio: 11a_mesh
        disabled: true

  - name: freifunk_default
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE
      - radio: 11a_mesh
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: berlin.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: berlin.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: mesh
        mesh_id: Mesh-Freifunk-Berlin
        radio: [11a_standard, 11g_standard, 11a_mesh]
        mcast_rate: 12000 # inzwischen 16000?
        mesh_fwding: 0
        ifname_hint: mesh

  - name: freifunk_fw
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE
      - radio: 11a_mesh
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: fuerstenwalde.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      #- mode: ap
      #  ssid: fuerstenwalde.freifunk.net Encrypted
      #  encryption: owe
      #  network: dhcp
      #  radio: [11a_standard, 11g_standard]
      #  ifname_hint: ffowe
      #  ieee80211w: 1

      - mode: mesh
        mesh_id: Mesh-Freifunk
        radio: [11a_standard, 11g_standard, 11a_mesh]
        mcast_rate: 12000
        mesh_fwding: 0
        ifname_hint: mesh

  - name: wilgu10
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
        beacon_int: 25 # fix frequent disconnects with iwlwifi sta

      - radio: 11g_standard
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: berlin.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: berlin.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: ap
        ssid: losWlanosLocos
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: prdhcp
        radio: 11a_standard
        ifname_hint: pr

      - mode: ap
        ssid: losWlanosLocos_legacy
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: prdhcp
        radio: 11g_standard
        ifname_hint: pr

      - mode: mesh
        mesh_id: Mesh-Freifunk-Berlin
        radio: [11a_standard, 11g_standard]
        mcast_rate: 12000
        mesh_fwding: 0
        ifname_hint: mesh

  - name: colbe15
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: colbe15.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: colbe15.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: ap
        ssid: colbe15-home.freifunk.net
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: home
        radio: [11a_standard, 11g_standard]
        ifname_hint: home

      - mode: mesh
        mesh_id: Mesh-Freifunk-Berlin
        radio: [11a_standard, 11g_standard]
        mcast_rate: 12000
        mesh_fwding: 0
        ifname_hint: mesh

  - name: borussia
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: berlin.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: berlin.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: ap
        ssid: Free-Cookies
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: prdhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: pr

      - mode: mesh
        mesh_id: Mesh-Freifunk-Berlin
        radio: [11a_standard, 11g_standard]
        mcast_rate: 12000
        mesh_fwding: 0
        ifname_hint: mesh

  - name: koepi
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: berlin.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: berlin.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: ap
        ssid: koepi
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: home
        radio: [11a_standard, 11g_standard]
        ifname_hint: home

  - name: rauchhaus
    devices:
      - radio: 11a_standard
        legacy_rates: false
        country: DE
      - radio: 11g_standard
        legacy_rates: false
        country: DE

    ifaces:
      - mode: ap
        ssid: berlin.freifunk.net
        encryption: none
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ff

      - mode: ap
        ssid: berlin.freifunk.net Encrypted
        encryption: owe
        network: dhcp
        radio: [11a_standard, 11g_standard]
        ifname_hint: ffowe
        ieee80211w: 1

      - mode: ap
        ssid: rauchhaus
        encryption: sae-mixed
        key: 'file:/root/wifi_pass'
        network: home
        radio: [11a_standard, 11g_standard]
        ifname_hint: home

all__channel_assignments_11a_standard__to_merge:
  default: "36-20"

all__channel_assignments_11g_standard__to_merge:
  default: "13-20"

all__channel_assignments_11a_mesh__to_merge:
  default: "36-20"
