#jinja2: trim_blocks: "true", lstrip_blocks: "true"

config defaults
  option syn_flood '1'
  option input 'ACCEPT'
  option output 'ACCEPT'
  option forward 'REJECT'
  option drop_invalid '0'
{% if flow_offload=="sw" %}
  option flow_offloading '1'
{% elif flow_offload=="hw" %}
  option flow_offloading '1'
  option flow_offloading_hw '1'
{% endif %}

config zone 'zone_freifunk'
  option name 'freifunk'
  list network 'mgmt'

config forwarding
  option dest 'freifunk'
  option src 'freifunk'
