{% if 'collectd-mod-load' in packages %}
LoadPlugin load
{% endif %}

{% if 'collectd-mod-uptime' in packages %}
LoadPlugin uptime
{% endif %}

{% if 'collectd-mod-interface' in packages %}
LoadPlugin interface
{% endif %}

{% if 'collectd-mod-ping' in packages %}
LoadPlugin ping
	{% for host in (collectd_ping_hosts | default([]) | union(dns_servers | default([]))) %}
<Plugin ping>
	TTL 127
	Interval 10
	Host "{{ host }}"
</Plugin>
	{% endfor %}
{% endif %}

{% if 'collectd-mod-memory' in packages %}
LoadPlugin memory
<Plugin memory>
	ValuesPercentage false
	ValuesAbsolute true
</Plugin>
{% endif %}

{% if 'collectd-mod-network' in packages %}
LoadPlugin network
<Plugin network>
	Server "{{ collectd_host }}"
	Forward false
	ReportStats false
	# Set MaxPacketSize because packages got dropped due to being to big
	MaxPacketSize 1280
</Plugin>
{% endif %}

{% if 'collectd-mod-olsrd' in packages %}
LoadPlugin olsrd
<Plugin olsrd>
	Host "127.0.0.1"
	Port "2006"
</Plugin>
{% endif %}

{% if 'collectd-mod-iwinfo' in packages %}
	{% if wireless_devices is defined and wireless_profile != 'disable' and low_mem | default (false) is not true and low_flash | default (false) is not true %}
LoadPlugin iwinfo
	{% endif %}
{% endif %}

{% if 'collectd-mod-conntrack' in packages %}
LoadPlugin conntrack
{% endif %}

{% if 'collectd-mod-dhcpleases' in packages %}
LoadPlugin dhcpleases
<Plugin dhcpleases>
	Path "/tmp/dhcp.leases"
</Plugin>
{% endif %}
