#jinja2: trim_blocks: "true", lstrip_blocks: "true"

{% set profiles = snmp_devices | default([]) | map(attribute='os') | reject('search', 'openwrt') | list | unique %}
{# collect profiles from new way of writing hosts as well and append them #}
{% for host in groups[group_names[0]]%}
  {% if hostvars[host]["os"] != "openwrt" %}
    {% do profiles.append(hostvars[host]["os"]) %}
  {% endif %}
{% endfor %}

{% if profiles | length > 0 %}
LoadPlugin snmp
<Plugin snmp>
{% endif %}

{%- for profile_name in profiles %}
  {% for metric_name,metric in collectd_snmp_profiles[profile_name].items() %}
    <Data "{{ profile_name }}_{{ metric_name }}">
    {% for opt,val in metric.items() %}
        {{ opt }} {{ val|string|lower if val|string == 'True' or val|string =='False' or val is number else  "\"" + val|string + "\"" }}
    {% endfor %}
    </Data>
  {% endfor %}
{% endfor %}



{% for device in snmp_devices | default([]) %}
    <Host "{{ device['hostname'] }}">
        Address "{{ device['address'] }}"
        Version 1
        Interval 30
        Community '{{ device['community'] | default('public') }}'
  {% for metric_name in collectd_snmp_profiles[device['os']] %}
        Collect "{{ device['os'] }}_{{ metric_name }}"
  {% endfor %}
    </Host>
{% endfor %}
{# Add non-openwrt hosts that are defined as hosts as well #}
{# Only works if mgmt-IPs are defined in the standard way #}
{% for host in groups[group_names[0]]%}
  {% if hostvars[host]["os"] != "openwrt" %}
    {# Calculate the IP for this host based on the mgmt assignment #}
    {% set mgmt_network = networks | selectattr('role', 'equalto', 'mgmt') | first %}
    <Host "{{ host }}">
            Address "{{ mgmt_network['prefix'] | ansible.utils.ipaddr(mgmt_network['assignments'][host])| ansible.utils.ipaddr('address') }}"
            Version 1
            Interval 30
            Community '{{ host['community'] | default('public') }}'
      {% for metric_name in collectd_snmp_profiles[hostvars[host]["os"]] %}
            Collect "{{ hostvars[host]["os"] }}_{{ metric_name }}"
      {% endfor %}
        </Host>
  {% endif %}
{% endfor %}
{% if profiles | length > 0 %}
</Plugin>
{% endif %}
