#jinja2: trim_blocks: "true", lstrip_blocks: "true"

{% set profiles = snmp_devices | default([]) | map(attribute='snmp_profile') | list | unique %}

{% if profiles | length > 0 %}
LoadPlugin snmp
<Plugin snmp>
{% endif %}

{%- for profile_name in profiles %}
{% endfor %}


  |--@location_wilgu10:
  |  |--wilgu10-openwrt
  |  |--wilgu10-airos

  |--@snmp_target:
  |  |--wilgu10-airos


{% for device in groups['location_' ~ location] | union(groups['snmp_target']) %}
  {% for metric_name,metric in hostvars[device]['metrics'] %}
    <Data "{{ device }}_{{ metric_name }}">
    {% for opt,val in metric.items() %}
        {{ opt }} {{ val|string|lower if val|string == 'True' or val|string =='False' or val is number else  "\"" + val|string + "\"" }}
    {% endfor %}
    </Data>
  {% endfor %}

    <Host "{{ device['hostname'] }}">
        Address "{{ device['address'] }}"
        Version 1
        Interval 30
        Community '{{ device['community'] | default('public') }}'
  {% for metric_name in collectd_snmp_profiles[device['snmp_profile']] %}
        Collect "{{ device }}_{{ metric_name }}"
  {% endfor %}
    </Host>
{% endfor %}
{% if profiles | length > 0 %}
</Plugin>
{% endif %}
