#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
package 'bgpdisco-plugin-nameservice'

config general
	option domain 'ff'
	option hosts_file '/var/hosts/ffnameservice'
{% if inventory_hostname in groups['role_gateway'] %}
	list exclude_interface_self '{{ uplink['ifname'] }}'
{% endif %}
{# the uplink is not part of Freifunk #}
{% for network in networks | default([]) if freifunk_vrf | default(false) and network.get('uplink_proto') == 'pppoe' %}
	list ignore_interface_self 'pppoe-{{ libnetwork.getUciIfname(network) }}'
{% endfor %}

{%- if mgmt['assignments'] is defined and mgmt['assignments']|length>0 -%}

{# Gateway ... #}
{% for host, ip_num in mgmt['assignments'].items() if host != inventory_hostname %}
config static-entry
	option host '{{ host }}'
	list ip '{{ mgmt['ipv4'] | ansible.utils.ipaddr(ip_num) | ansible.utils.ipaddr('address') }}'

{% endfor %}
{% else %}

{# Core-Router #}
{% for network in networks | selectattr('assignments', 'defined') | selectattr('assignments', 'mapping') %}
{% for host, ip_num in network['assignments'].items() if host != inventory_hostname %}
config static-entry
	option host '{{ host }}'
	list ip '{{ network['prefix'] | ansible.utils.ipaddr(ip_num) | ansible.utils.ipaddr('address') }}'

{% endfor %}
{% endfor %}
{%- endif %}
