config public 'contact'
{% if contact_name is defined %}
	option name '{{ contact_name }}'
{% endif %}
	option nickname '{{ contact_nickname }}'
	option mail '{{ contact_email }}'
	option location '{{ location_nice }}'

config public 'community'
	option homepage 'http://freifunk.net'
	option name 'berlin'
