config public 'contact'
{% if contact_name is defined %}
	option name '{{ contact_name }}'
{% endif %}
{% if contact_nickname is defined %}
	option nickname '{{ contact_nickname }}'
{% endif %}
{% for contact in contacts | mandatory('Please add at least one contact. Fellow Freifunkas need to be able to contact you in case they want to mesh with you!') %}
	list contact '{{ contact }}'
{% endfor %}
	option location '{{ location_nice }}'

{# set defaults to maintain current functionality for transition phase #}
config public 'community'
    option homepage '{{ homepage|default('https://freifunk.net') }}'
    option name '{{ community|default('berlin') }}'
