config public 'contact'
	option nickname '{{ contact_nickname }}'
	option mail '{{ contact_email }}'
	option location '{{ location_nice }}'

config public 'community'
	option homepage 'http://freifunk.net'
	option name 'berlin'
