#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
{% if ula_prefix is defined %}

config globals 'globals'
	option ula_prefix '{{ ula_prefix }}'
{% endif %}
{% if freifunk_vrf %}

# Freifunk networks live in their own VRF, never route Freifunk traffic
# out of the main table to the uplink
config route 'unreachable_freifunk'
	option type 'unreachable'
	option target '10.0.0.0/8'

config route6 'unreachable_freifunk6'
	option type 'unreachable'
	option target '{{ freifunk_global_prefix }}'

# Without a route in the VRF table the lookup continues in the main table,
# never route traffic from the VRF to the uplink
config route 'unreachable_vrf'
	option type 'unreachable'
	option target '0.0.0.0/0'
	option table 'vrf-freifunk'
	option metric '4278198272'

config route6 'unreachable_vrf6'
	option type 'unreachable'
	option target '::/0'
	option table 'vrf-freifunk'
	option metric '4278198272'

  {% set vrf_networks = networks | selectattr('assignments', 'defined') | selectattr('assignments', 'contains', inventory_hostname) | list
     + networks | selectattr('role', 'equalto', 'mesh') | list %}
config device
	option type 'vrf'
	option name 'vrf_freifunk'
	option table 'vrf-freifunk'
  {% for network in vrf_networks | unique if not network.get('direct_internet') %}
	list ports '{{ libnetwork.getIfname(network) }}'
  {% endfor %}
  {% for tunnel in networks | selectattr('role', 'equalto', 'tunnel') %}
	list ports '{{ tunnel['ifname'] }}'
  {% endfor %}

config interface 'vrf_freifunk'
	option device 'vrf_freifunk'
	option proto 'static'
	{# programs check for a route to ::1 to decide whether IPv6 is usable #}
	option ip6addr '::1/128'
{% else %}

# Babel inserts into separate route table, add that to lookup list for IPv6
config rule6
	option priority 33000
	option lookup 'babel-src'

# IPv4 Soft Migration by prioritizing Babel over OLSR
config rule
	option priority 33100
	option lookup 'babel-ff'

{% if not bird_only | bool %}
config rule
	option priority 33101
	option lookup 'olsr-ff'
{% endif %}

config rule
	option priority 33200
	option lookup 'babel-default'
{% if not bird_only | bool %}
config rule
	option priority 33201
	option lookup 'olsr-default'
{% endif %}
{% endif %}

config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'
{% if role == 'corerouter' and ipv6_prefix is defined %}
	option ip6addr '{{ ipv6_prefix }}'
{% endif %}

{% if dsa_ports is defined %}
  {% include './common/config/dsa.network.inc' %}
{% elif switch_ports|default(0) > 0 %}
  {% include './common/config/swconfig.network.inc' %}
{% endif %}
{% if role == 'corerouter' and dsl is defined %}

config dsl 'dsl'
	option annex '{{ dsl['annex'] }}'
	option tone '{{ dsl['tone'] }}'
  {% for option in ['xfer_mode', 'line_mode', 'ds_snr_offset'] if option in dsl %}
	option {{ option }} '{{ dsl[option] }}'
  {% endfor %}
{% endif %}


{% for network in networks %}
  {% set name = libnetwork.getUciIfname(network) %}
  {% set is_pppoe_uplink = role == 'corerouter' and network['role'] == 'uplink' and network.get('uplink_proto') == 'pppoe' %}
  {% if is_pppoe_uplink != (role == 'corerouter' and network['role'] == 'uplink' and network.get('uplink_mode') == 'root') %}
{{ undef("network '" ~ name ~ "': uplink_proto: pppoe and uplink_mode: root need each other") }}
  {% endif %}

  {%- if (role == 'corerouter' and network['role'] == 'mesh') or ('assignments' in network and inventory_hostname in network['assignments'])
     or name in libnetwork.getWirelessNetworks() | from_json
     or network.get('mesh_ap') == inventory_hostname
     or (role == 'corerouter' and network['role'] == 'uplink' and network.get('uplink_mode') != 'direct')
     %}
config interface '{{ name }}'
    {% if libnetwork.isPortNeeded(network) | from_json %}
	option device '{{ libnetwork.getIfname(network) }}'
    {% endif %}
    {% if network.get('enforce_client_isolation') and role == 'corerouter' and
       not libnetwork.isBridgeNeeded(network) | from_json %}
	option macaddr '02:00:00:00:00:01'
    {% endif %}
    {# Generate a deterministic random MAC address to avoid issues with multiple paths to the same location #}
    {% if network['role'] == 'mesh' %}
        option macaddr '{{- libnetwork.generateDeterministicMAC(inventory_hostname ~ "-" ~ name) -}}'
    {% endif %}
    {% if 'assignments' in network and inventory_hostname in network['assignments'] %}
	option proto 'static'
	option ipaddr '{{ network['prefix'] | ansible.utils.ipaddr(network['assignments'][inventory_hostname]) }}'
       {% if role != "corerouter" and 'dns' in network %}
	option dns '{{ network['prefix'] | ansible.utils.ipaddr(network['dns']) | ansible.utils.ipaddr('address') }}'
       {% endif %}
       {% if 'gateway' in network and 'assignments' in network and network['assignments'][inventory_hostname] != network['gateway'] %}
	option gateway '{{ network['prefix'] | ansible.utils.ipaddr(network['gateway']) | ansible.utils.ipaddr('address') }}'
       {% endif %}
       {% if role != 'corerouter' and 'ipv6_subprefix' in network %}

# IPv6 Address comes via SLAAC and RA. See sysctl, there it is enabled
# The reason is to get rid of the userspace daemon
#config interface '{{ name }}6'
#	option device '@{{ name }}'
#	option proto 'dhcpv6'
        {% endif %}
    {% elif role == 'corerouter' and network['role'] == 'mesh' %}
	option proto 'static'
	option ipaddr '{{ network['prefix'] }}'
    {% elif is_pppoe_uplink %}
	option proto 'pppoe'
	option username '{{ network['pppoe_username'] }}'
	option password '{{ network['pppoe_password'] }}'
	{# IPv6 comes from the '{{ name }}6' DHCPv6 interface below; with IPv6CP
	   enabled, netifd would race it with an automatic '{{ name }}_6' one #}
	option ipv6 '0'
    {% else %}
	option proto 'none'
    {% endif %}
    {% if role == 'corerouter' and network.get('direct_internet') %}
	{# IPv6 from the prefix delegated to the uplink, not from ipv6_prefix #}
	option ip6assign '64'
      {% for class in [network.get('ip6class', [])] | flatten %}
	list ip6class '{{ class }}'
      {% endfor %}
    {% elif role == 'corerouter' and ipv6_prefix is defined %}
      {% if 'ipv6_subprefix' in network %}
        {% set subprefix = ipv6_prefix | ansible.utils.ipsubnet('64', network['ipv6_subprefix']) %}
	option ip6addr '{{ subprefix | ansible.utils.ipaddr(1) | ansible.utils.ipaddr('address') }}/{{ '128' if network['role'] == 'mesh' else '64' }}'
      {% endif %}
    {% endif %}
  {% endif %}

  {% if is_pppoe_uplink %}
config interface '{{ name }}6'
	option device '@{{ name }}'
	option proto 'dhcpv6'
	option reqprefix '{{ network.get('ipv6_reqprefix', 'auto') }}'
    {% if network.get('ipv6_reqaddress') %}
	option reqaddress '{{ network['ipv6_reqaddress'] }}'
    {% endif %}
    {% if network.get('ipv6_norelease') %}
	option norelease '1'
    {% endif %}

    {% if network.get('ipv6_default_route') %}
{# bound to '{{ name }}6': odhcpd only advertises a default route in RAs for
   prefixes delegated by an interface that has one #}
config route6 '{{ name }}6_default'
	option interface '{{ name }}6'
	option target '::/0'
	option metric '512'

    {% endif %}
  {% endif %}
  {% if libnetwork.isPortNeeded(network) | from_json and libnetwork.isBridgeNeeded(network) | from_json %}
config device
	option name '{{ libnetwork.getBridgeIfname(network) }}'
	option type 'bridge'
    {% if network.get('enforce_client_isolation') and role == 'corerouter' %}
	option macaddr '02:00:00:00:00:01'
    {% endif %}
	list ports '{{ libnetwork.getPortIfname(network) }}'
  {% endif %}

{% endfor %}
{% if role == 'corerouter' %}
{% for network in networks | selectattr('role', 'equalto', 'wireless_uplink') %}
  {% set wd = wireless_devices | selectattr('name', 'equalto', network['radio']) | list | first %}
config interface '{{ libnetwork.getUciIfname(network) }}'
  option device '{{ wd['ifname_hint'] }}-sta'
  {% if network.get('uplink_ipv4') %}
  option proto 'static'
  option ipaddr '{{ network['uplink_ipv4'] }}'
    {% if network.get('uplink_gateway') %}
  option gateway '{{ network['uplink_gateway'] }}'
    {% endif %}
  {% else %}
  option proto 'none'
  {% endif %}

{% endfor %}
{% endif %}
{% for i in mac_override|default({}) %}
config device '{{ i }}_dev'
	option name '{{ i }}'
	option macaddr '{{ mac_override[i] }}'

{% endfor %}
{% if qmi is defined %}
  {% for q in qmi %}
config interface '{{ q['name'] }}'
  option proto 'qmi'
  option device '{{ q['device'] }}'
  option apn '{{ q['apn'] }}'
  option pdptype '{{ q['pdptype'] }}'

  {% endfor %}
{% endif %}
