config system
        option hostname '{{ inventory_hostname }}'
        option zonename '{{ zonename }}'
        option timezone '{{ timezone }}'
        option ttylogin '0'
        option log_size '64'
        option urandom_seed '0'
{% if role == 'corerouter' or role  == 'uplink_gateway' %}
	option latitude '{{ latitude|default(0) }}'
	option longitude '{{ longitude|default(0) }}'
	option altitude '60.000000000000000'
	option location '{{ location_nice|default(location) }}'
{% endif %}
{% if dsa_ports is defined %}
	option compat_version '{{ compat_version }}'
{% endif %}

config timeserver 'ntp'
        option enabled '1'
        option enable_server '0'
{% for ntp_server in ntp_servers %}
        list server '{{ ntp_server }}'
{% endfor %}

{% for led in leds | default([]) %}

config led 'led_{{ led['name'] }}'
        option name '{{ led['name'] }}'
        option sysfs '{{ led['sysfs'] }}'
        option trigger '{{ led['trigger'] }}'
{% if led['port_mask'] is defined %}
        option port_mask '{{ '0x%0x' % led['port_mask'] }}'
{% endif %}
{% endfor %}

{% for poe in poe_ports | default([]) %}

config gpio_switch 'poe_power_port{{ loop.index0 }}'
        option name '{{ poe['name'] }}'
        option gpio_pin '{{ poe['gpio_pin'] }}'
{% if (loop.index0) in poe_on|default([]) %}
        option value '{{ 0 if poe['value'] else 1 }}'
{% else %}
        option value '{{ poe['value'] }}'
{% endif %}
{% endfor %}
