#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}
{% macro watchcat(name, uplink, mode, period) %}
config watchcat '{{ name }}'
	option mode '{{ mode }}'
	option period '{{ period }}'
	option pinghosts '{{ uplink_watchdog_hosts | join(' ') }}'
	option interface '@{{ uplink }}'
{{ caller() -}}
{% endmacro %}
{% for network in uplink_watchdog_networks %}
  {% set uplink = libnetwork.getUciIfname(network) %}
  {% if uplink_watchdog_restart_interface | string != '0' %}
    {% call watchcat(uplink ~ '_interface', uplink, 'restart_iface', uplink_watchdog_restart_interface) %}
	option reset_failure_timer '1'
    {% endcall %}

  {% endif %}
  {% if dsl is defined and uplink_watchdog_restart_dsl | string != '0' %}
    {% call watchcat(uplink ~ '_dsl', uplink, 'run_script', uplink_watchdog_restart_dsl) %}
	option script '/etc/uplink-watchdog-dsl.sh'
	option reset_failure_timer '1'
    {% endcall %}

  {% endif %}
  {% if uplink_watchdog_reboot | string != '0' %}
    {% call watchcat(uplink ~ '_reboot', uplink, 'ping_reboot', uplink_watchdog_reboot) %}
	option forcedelay '30'
    {% endcall %}

  {% endif %}
{% endfor %}
