{% if networks | selectattr('tunnel_wan_ip', 'defined') | count > 0 %}
chain wg_maxseg {
    type filter hook forward priority -1; policy accept;
	oifname "wg_*" tcp flags syn tcp option maxseg size set rt mtu
	iifname "wg_*" tcp flags syn tcp option maxseg size set rt mtu
}
{% endif %}
