{% if (networks | selectattr('role', 'equalto', 'tunnel') | count > 0) %}
{% set TCP_HEADER_SIZE = 20 %}
{% set IPV4_HEADER_SIZE = 20 %}
{% set IPV6_HEADER_SIZE = 40 %}
{% set min_mtu = ([1280] + (networks | selectattr('role', 'equalto', 'tunnel') | map(attribute='mtu') | list)) | min | int %}
{% set ipv4_mss = min_mtu - TCP_HEADER_SIZE - IPV4_HEADER_SIZE %}
{% set ipv6_mss = min_mtu - TCP_HEADER_SIZE - IPV6_HEADER_SIZE %}
chain wg_maxseg {
    type filter hook forward priority -1; policy accept;
	oifname "ts_*" tcp flags syn tcp option maxseg size set meta nfproto map { ipv4 : {{ ipv4_mss }}, ipv6 : {{ ipv6_mss }} }
	iifname "ts_*" tcp flags syn tcp option maxseg size set meta nfproto map { ipv4 : {{ ipv4_mss }}, ipv6 : {{ ipv6_mss }} }
}
{% endif %}
