127.0.0.1:{% for host in groups['role_gateway'] | difference([inventory_hostname]) | sort %} {{ hostvars[host]['uplink']['ipv4'] | ansible.utils.ipaddr('address')  }}/{{conntrackd_port }}{% endfor %}
