#jinja2: trim_blocks: True, lstrip_blocks: True
{% import 'libraries/network.j2' as libnetwork with context %}

log syslog all;
debug protocols {states};

# Include additional bird config files for runtime extendability
include "/dev/shm/bird_*.conf";

#master4 is implicitly created
ipv6 sadr table v6_main;
ipv4 table v4_babel_ff;
ipv4 table v4_babel_default;

protocol device {
};

protocol direct {
	ipv6 sadr {
		table v6_main;
	};
	ipv4;
}

protocol babel {
	randomize router id yes;
	ipv6 sadr {
		table v6_main;
		# Import only /56 location aggregates and default routes
		import filter {
			if ! (net.len = 56 || net = ::/0 from {{ freifunk_global_prefix }}) then reject;
{% for nw in networks | selectattr('role', 'equalto', 'mesh') %}
  {# metrics for 2 GHz adhoc get a penalty over 5 GHz adhoc so 5 GHz is preferred #}
  {% set default_mesh_metric = hostvars[inventory_hostname].get('mesh_metric_adhoc_' ~ nw.get('mesh_radio'), mesh_metric_default_in) %}
			if ifname = "{{ libnetwork.getIfname(nw) }}" then {
			  babel_metric = babel_metric + {{  nw.get('mesh_metric', default_mesh_metric) }};
			}
{% endfor %}
{% for nw in networks | selectattr('role', 'equalto', 'tunnel') %}
			if ifname = "{{ nw.get('ifname') }}" then {
			  babel_metric = babel_metric + {{  nw.get('mesh_metric', mesh_metric_tunnel_in) }};
			}
{% endfor %}
			accept;
		};

		export filter {
			if net = {{ ipv6_prefix }} from ::/0 then accept;
			if source = RTS_BABEL then accept;
			reject;
		};
	};
	ipv4 {
		import filter {
{% for nw in networks | selectattr('role', 'equalto', 'mesh') %}
  {# metrics for 2 GHz adhoc get a penalty over 5 GHz adhoc so 5 GHz is preferred #}
  {% set default_mesh_metric = hostvars[inventory_hostname].get('mesh_metric_adhoc_' ~ nw.get('mesh_radio'), mesh_metric_default_in) %}
			if ifname = "{{ libnetwork.getIfname(nw) }}" then {
			  babel_metric = babel_metric + {{  nw.get('mesh_metric', default_mesh_metric) }};
			}
{% endfor %}
{% for nw in networks | selectattr('role', 'equalto', 'tunnel') %}
			if ifname = "{{ nw.get('ifname') }}" then {
			  babel_metric = babel_metric + {{  nw.get('mesh_metric', mesh_metric_tunnel_in) }};
			}
{% endfor %}
			accept;
		};
		export where source = RTS_BABEL || net ~ [ 10.0.0.0/8{21,32} ]; # Readvertise learned routes and advertise local networks from 10/8
	};

	# Mesh interfaces
{% for nw in networks | selectattr('role', 'equalto', 'mesh') %}
	interface "{{ libnetwork.getIfname(nw) }}" {
		type wireless;
	};
{% endfor %}
	# Tunnel interfaces provided by tunspace
{% for nw in networks | selectattr('role', 'equalto', 'tunnel') %}
	interface "{{ nw.get('ifname') }}" {
		type wireless;
	};
{% endfor %}
}

protocol kernel {
	ipv6 sadr {
		table v6_main;
		import all;
		export all;
	};
	learn all; # Allow learning loopback route
}



# Currently not in use but keep for later purposes
protocol kernel {
	ipv4 {
		import none;
		export none;
	};
}

# TODO: Get rid of the following when OLSRD is gone
protocol kernel {
	kernel table 10;
	ipv4 {
		table v4_babel_ff;
		import none;
		export all;
	};
}

protocol pipe {
        table master4;
	peer table v4_babel_ff;
	export where net != 0.0.0.0/0;
}

protocol kernel {
	kernel table 11;
	ipv4 {
		table v4_babel_default;
		import none;
		export all;
	};
}

protocol pipe {
        table master4;
	peer table v4_babel_default;
	export where net = 0.0.0.0/0;
}
