---
name: Lint Code Base with Superlinter

#
# Documentation:
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#

on: [push, pull_request] # yamllint disable-line rule:truthy

permissions:
  contents: read
  actions: read

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    # Grant status permission for MULTI_STATUS
    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0

      # Run Linter against code base
      - name: Lint Code Base
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          # Disable JSCPD as we have a lot of duplication by design
          VALIDATE_JSCPD: false
          VALIDATE_MARKDOWN: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_YAML_PRETTIER: false
          # Change to 'main' if your main branch differs
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
